.pw_container .firstScreen {
  padding: 45px;
  position: relative;
  margin-bottom: 50px; }
  .pw_container .firstScreen h1 {
    width: 605px;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 47px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px; }
  .pw_container .firstScreen__list {
    margin-bottom: 30px;
    padding-left: 20px; }
    .pw_container .firstScreen__list li {
      color: #0084c8;
      margin-bottom: 10px; }
    .pw_container .firstScreen__list span {
      color: #000;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 18px; }
  .pw_container .firstScreen img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center; }
.pw_container .btn {
  line-height: 50px;
  padding: 0 40px;
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-block;
  text-decoration: none; }
  .pw_container .btn svg {
    margin-left: 20px;
    vertical-align: middle; }
  .pw_container .btn.btn_blue {
    background: #0084c8;
    border: 1px solid #fff;
    color: #fff; }
    .pw_container .btn.btn_blue:hover {
      background: #0b2946;
      border-color: #0b2946; }
.pw_container .advantages {
  position: relative;
  margin-bottom: 50px;
  max-width: 100%; }
  .pw_container .advantages__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0; }
    .pw_container .advantages__list li {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      align-items: center;
      text-align: center;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 18px;
      line-height: 28px;
      width: 100%; }
      .pw_container .advantages__list li div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
        height: 95px;
        background: #F2F2F2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-bottom: 20px; }
      .pw_container .advantages__list li img {
        width: 55px; }
  .pw_container .advantages hr {
    position: absolute;
    top: 38px;
    height: 1px;
    background: #F2F2F2;
    border: none;
    left: 0;
    right: 0;
    z-index: -1; }
.pw_container .description {
  margin-bottom: 90px;
  max-width: 100%;
  overflow: hidden; }
  .pw_container .description h2 {
    font-size: 42px;
    font-weight: normal;
    line-height: 50px;
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 50px; }
  .pw_container .description ul {
    color: #0084c8;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
    padding-left: 20px; }
    .pw_container .description ul span {
      color: #000; }
  .pw_container .description_top img {
    float: left;
    margin-right: 60px;
    margin-bottom: 60px; }
  .pw_container .description_top__content {
    margin-bottom: 70px; }
    .pw_container .description_top__content ul {
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px); }
      .pw_container .description_top__content ul span {
        color: #000; }
  .pw_container .description_bottom img {
    float: right; }
.pw_container .series {
  display: flex;
  margin-bottom: 80px; }
  .pw_container .series .series_bottom {
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 400px; }
  .pw_container .series ul {
    padding-left: 20px; }
  .pw_container .series h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .pw_container .series_left, .pw_container .series_right {
    position: relative;
    width: 50%; }
    .pw_container .series_left li, .pw_container .series_right li {
      color: #0084c8;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 18px;
      line-height: 2; }
    .pw_container .series_left .series__num, .pw_container .series_right .series__num {
      position: absolute;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 140px;
      color: #fff;
      bottom: 130px;
      right: 0;
      line-height: 95px; }
  .pw_container .series_left {
    background: #0b2946; }
    .pw_container .series_left .series__container {
      padding: 45px 45px 0; }
    .pw_container .series_left .series__num {
      top: 100px; }
    .pw_container .series_left img {
      margin-left: auto;
      display: block;
      margin-bottom: -40px; }
    .pw_container .series_left .series_bottom {
      color: #fff; }
    .pw_container .series_left li span {
      color: #fff; }
    .pw_container .series_left h2 {
      color: #fff; }
  .pw_container .series_right {
    background: #F2F2F2; }
    .pw_container .series_right .series_bottom {
      color: #000; }
    .pw_container .series_right .series__container {
      padding: 0 45px 45px; }
    .pw_container .series_right img {
      display: block;
      margin: -120px auto 30px; }
    .pw_container .series_right li span {
      color: #000; }
.pw_container .items {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  .pw_container .items_section h2 {
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase; }
  .pw_container .items_half {
    background: #F2F2F2;
    display: flex;
    padding: 30px 50px 30px 30px;
    align-items: center;
    width: 49%;
    box-sizing: border-box;
    text-decoration: none;
    color: #000; }
    .pw_container .items_half img {
      margin-right: 20px;
      width: 230px; }
    .pw_container .items_half__title {
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 24px; }
.pw_container .products {
  margin-bottom: 80px;
  justify-content: space-between;
  position: relative; }
  .pw_container .products h2 {
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase; }
  .pw_container .products__item {
    display: flex;
    padding: 20px;
    border: 1px solid #F2F2F2;
    margin-bottom: 20px;
    justify-content: space-between; }
    .pw_container .products__item img {
      width: 49%;
      object-fit: cover; }
    .pw_container .products__item__content {
      width: 49%; }
    .pw_container .products__item__title {
      padding-top: 20px;
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: bold;
      font-size: 34px;
      line-height: 36px; }
    .pw_container .products__item p {
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 18px;
      line-height: 36px; }
    .pw_container .products__item li {
      color: #0084c8;
      font-size: 18px;
      line-height: 36px; }
      .pw_container .products__item li span {
        color: #000; }
    .pw_container .products__item .btn {
      padding: 0 90px; }
    .pw_container .products__item_second {
      flex-direction: row-reverse;
      padding: 20px 40px 40px; }
      .pw_container .products__item_second img {
        margin: -20px -40px -40px 0;
        width: 52%;
        object-fit: cover;
        min-height: 330px; }
.pw_container .offer {
  margin-bottom: 80px;
  display: flex;
  padding: 40px;
  min-height: 220px;
  background: #0b2946;
  box-sizing: border-box;
  position: relative; }
  .pw_container .offer_left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .pw_container .offer_left_half {
      width: 50%;
      display: flex; }
      .pw_container .offer_left_half:first-child {
        padding-right: 30px; }
      .pw_container .offer_left_half h3 {
        color: #fff;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 24px;
        line-height: 34px;
        font-weight: bold; }
      .pw_container .offer_left_half img {
        margin-right: 30px; }
  .pw_container .offer_bg {
    position: absolute;
    bottom: -220px;
    left: 50%;
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
    transform: translateX(-30%); }
  .pw_container .offer__contacts {
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    margin-left: auto; }
    .pw_container .offer__contacts p {
      font-size: 18px;
      line-height: 34px;
      margin: 0; }
    .pw_container .offer__contacts__phone {
      font-size: 42px;
      font-weight: bold;
      color: #FFFFFF;
      text-decoration: none; }
      .pw_container .offer__contacts__phone span {
        color: #0084c8; }
.pw_container .anyBlocks {
  margin-bottom: 80px; }
  .pw_container .anyBlocks h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 42px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 40px; }
@media only screen and (max-width: 1700px) {
  .pw_container .firstScreen img {
    object-position: left center; }
  .pw_container .description img {
    max-width: 50%; } }
@media only screen and (max-width: 1600px) {
  .pw_container .advantages hr {
    display: none; }
  .pw_container .advantages__list {
    flex-wrap: wrap; }
    .pw_container .advantages__list li {
      width: 30%;
      max-width: 30%;
      margin-bottom: 40px; }
  .pw_container .description_top {
    display: flex; }
    .pw_container .description_top__content {
      width: 48%;
      padding-left: 2%; }
    .pw_container .description_top img {
      float: none;
      width: 50%;
      margin-right: 0;
      margin-bottom: 0;
      object-fit: cover; }
  .pw_container .description_bottom {
    display: flex;
    flex-direction: row-reverse; }
    .pw_container .description_bottom > div {
      width: 48%;
      padding-right: 2%;
      box-sizing: border-box; }
    .pw_container .description_bottom img {
      float: none;
      width: 50%;
      margin-right: 0;
      margin-bottom: 0;
      object-fit: cover; }
  .pw_container .series {
    flex-wrap: wrap; }
  .pw_container .series_left img {
    margin-bottom: 0;
    padding-top: 20px;
    max-width: 100%; }
  .pw_container .series__num {
    display: none; }
  .pw_container .series_right img {
    max-width: 100%;
    margin: 20px auto; }
  .pw_container .offer_bg {
    display: none; }
  .pw_container .offer {
    flex-wrap: wrap; }
  .pw_container .offer_left {
    width: 100%;
    margin-bottom: 30px; }
  .pw_container .offer__contacts {
    width: 100%;
    text-align: center; } }
@media only screen and (max-width: 1400px) {
  .pw_container .items {
    flex-direction: column; }
    .pw_container .items_half {
      margin-bottom: 20px;
      width: 100%; } }
@media only screen and (max-width: 787px) {
  .pw_container .firstScreen {
    padding: 20px; }
    .pw_container .firstScreen h1 {
      width: auto;
      font-size: 25px;
      line-height: 30px; }
    .pw_container .firstScreen .btn {
      padding: 0 30px; }
      .pw_container .firstScreen .btn svg {
        display: none; }
  .pw_container .advantages__list li {
    width: 48%;
    max-width: 48%; }
  .pw_container .description_top {
    flex-direction: column; }
    .pw_container .description_top img {
      width: 100%;
      max-width: 100%; }
    .pw_container .description_top__content {
      width: 100%;
      margin-bottom: 20px; }
  .pw_container .description {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px; }
    .pw_container .description h2 {
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 20px; }
  .pw_container .description_bottom {
    flex-direction: column; }
    .pw_container .description_bottom img {
      width: 100%;
      max-width: 100%; }
  .pw_container .description_bottom > div {
    width: 100%; }
  .pw_container .series {
    flex-direction: column; }
    .pw_container .series_left, .pw_container .series_right {
      width: 100%; }
  .pw_container .series h2 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px; }
  .pw_container .items_half {
    flex-direction: column; }
    .pw_container .items_half img {
      margin: 0 auto 20px; }
    .pw_container .items_half img, .pw_container .items_half div {
      width: 100%;
      text-align: center; }
  .pw_container .products__item {
    flex-direction: column; }
    .pw_container .products__item img {
      width: 100%; }
    .pw_container .products__item__content {
      width: 100%; }
  .pw_container .products__item__title {
    font-size: 22px;
    line-height: 24px; }
  .pw_container .offer_left {
    flex-direction: column; }
    .pw_container .offer_left_half {
      width: 100%; }
  .pw_container .products__item .btn {
    padding: 0 30px; }
  .pw_container .products__item_second img {
    margin: 0;
    min-height: auto; }
  .pw_container .products__item_second {
    padding: 20px; }
  .pw_container .offer__contacts__phone {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
